body{
    background-color: black;
    text-align: center;
    color: white;
}

#centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
    border-radius: 20%;
}

footer{
    text-align: center;
  }


  #Button {
    background-color: black;
    color: white;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
  }
  
    #Button .hover {
    background-color: #4CAF50; /* Green */
    color: black;
  }