<!doctype html>
<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B-2 SMS BOMBER</title>
    <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel=stylesheet href="{{ url_for('static',filename = 'index.css')}}">
    <link rel="icon" href="{{ url_for('static',filename='logo.svg')}}"  sizes = "any" type = "image/svg+xml">

</head>
<body>
    <h1>B-2 SMS BOMBER</h1>
    <p {{visib}}>OUTPUT : {{res}}</p>
    <form class="form" id="centered">
    <div class="form-group">
    <label for="number">Number (+91):</label>
    <input type="text" id="number" name="number">
    </div>
    <div class="form-group">
    <label for="freq">Number of Messages:</label>
    <select id="freq" name="freq">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100 (do not spam too much ;) )</option>
    </select>
    </div>
    <div class="form-group">
    <label for="time-interval">Time interval:</label>
    <label><input type="text" id="interval" name="interval"> seconds</label>
    </div>
    <input type="submit" name="submit" value="Submit" id="Button">
    <input type="submit" name="stop_bomb" value="White list number" id="Button">
    </form>
    <hr>
    <div class="text-info">
        <h2>What is it?</h2>
        <p>This is a very simple sms bomber to prank your friends. You just input the number of messages and number to bomb them.</p>
        <h2>How to use:</h2>
        <ul id="centered">
            <li>Enter the number (indian only) in the number section without +91 </li>
            <li>Select the number of messages</li>
            <li>Select the time interval ie after which each message will be sent. <br> By default each messages are sent with a 5 second gap.</li>
            <li>Hit Submit to start bombing</li>
            <li>Hit on White list number if you want the sms bombing to stop</li>
        </ul>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='main.js')}}"></script>
</body>
<footer id="footer">
    <hr>
Made by <a id="link" href="https://github.com/unownone">unownone</a> with &#128151;  Total Visits: {{visits}} | Unique Visits: {{uniq}}
</footer>